@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}

:root {
    --primary-color: #FF5300;
    --secondary-color: #373737;
    --tertiary-color: #7B7B7B;
    --text-size-12: 12px;
    --text-size-16: 16px;
    --text-size-20: 20px;
    --text-size-25: 25px;
    --text-size-48: 48px;
    --text-size-40: 40px;
    --font-poppins: "Poppins", sans-serif;
    --font-work: "Work Sans", sans-serif;
    --line-height-45: 45.77px;
    --line-height-30: 30px;
    --line-height-73: 73.2px;
    --line-height-24: 24px;
    --line-height-37: 37.5px;
    --line-height-20: 20px;
    --line-height-58: 58.59px;
}

.nav-heading {
    font-family: var(--font-work);
    font-size: var(--text-size-40);
    line-height: var(--line-height-45);
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary-color);
}

.nav-heading span {
    font-family: var(--font-work);
    font-size: var(--text-size-40);
    line-height: var(--line-height-45);
    letter-spacing: 0em;
    text-align: left;
    color: var(--secondary-color);
}

.nav-links {
    font-family: var(--font-poppins);
    font-size: var(--text-size-20);
    font-weight: 500;
    line-height: var(--line-height-30);
    color: var(--secondary-color);
    text-align: left;
}

.nav-links:hover {
    color: var(--primary-color);
    transition: all 200ms linear;
}

.nav-btn {
    font-family: var(--font-poppins);
    font-size: var(--line-height-20);
    font-weight: 500;
    line-height: var(--line-height-30);
    letter-spacing: 0em;
    text-align: left;
    color: var(--secondary-color);
    border: 1px solid black;
    border-radius: 4px;
    background-color: transparent;
    transition: all 200ms linear;
}

.nav-btn:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.business {
    font-family: var(--font-poppins);
    font-size: var(--text-size-48);
    font-weight: 700;
    line-height: var(--line-height-73);
    letter-spacing: 0em;
    text-align: left;
    color: var(--secondary-color);
}

.lorem {
    font-family: var(--font-poppins);
    font-size: var(--text-size-16);
    font-weight: 400;
    line-height: var(--line-height-24);
    letter-spacing: 0em;
    text-align: left;
    color: var(--tertiary-color);
}

.start-btn {
    font-family: var(--font-poppins);
    font-size: var(--text-size-20);
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    background-color: var(--primary-color);
    border: none;
    padding: 10px 22px;
    border-radius: 5px;
    transition: all 200ms linear;
}

.start-btn:hover {
    background-color: #fff;
    color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

@media (max-width:992px) {
    .lg-view {
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: fixed;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(30px);
        top: 0;
        left: -100%;
        transition: all 200ms linear;
    }

    label[for="menuIcon"] {
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 2%;
        right: 3%;
        z-index: 2;
    }

    label[for="menuIcon"] span {
        width: 100%;
        height: 4px;
        background-color: #FF5300;
        border-radius: 4px;
    }

    /* 
    input[type="checkbox"]:checked~.lg-view {
        left: 0%;
    } */
    .business {
        font-size: var(--text-size-40);
    }
}

.show {
    left: 0;
}

.bg-orange {
    background-color: #FFF7F4;
}

.height-100vh {
    min-height: 100vh;
}

.line {
    width: 35px;
    height: 1px;
    background-color: #FF5300;
}

.line-txt {
    color: var(--primary-color);
    font-family: var(--font-poppins);
    font-size: var(--text-size-16);
    font-weight: 400;
    line-height: var(--line-height-24);
    letter-spacing: 0em;
    text-align: left;
}

.we-do {
    font-family: var(--font-poppins);
    font-size: var(--text-size-40);
    font-weight: 600;
    line-height: var(--line-height-58);
    letter-spacing: 0em;
    text-align: center;
    margin-top: 8px;
    color: var(--secondary-color);
}

.mt-100 {
    margin-top: 100px;
}

.box {
    border: 1px solid var(--tertiary-color);
    padding: 20px 25px;
    border-radius: 10px;
}

.box:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border: none;
}

.box-heading {
    font-family: var(--font-poppins);
    font-size: var(--text-size-25);
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--secondary-color);
}

.web {
    font-family: var(--font-poppins);
    font-size: var(--text-size-12);
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--tertiary-color);
}

.box-para {
    font-family: var(--font-poppins);
    font-size: var(--text-size-16);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--tertiary-color);
}

.ml-20 {
    margin-left: 20px;
}

.orng-txt {
    font-family: var(--font-poppins);
    font-size: var(--text-size-16);
    font-weight: 400;
    line-height: var(--text-size-25);
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary-color);
}

.grow {
    font-family: var(--font-poppins);
    font-size: var(--text-size-40);
    font-weight: 600;
    line-height: var(--line-height-58);
    letter-spacing: 0em;
    text-align: left;
    color: var(--secondary-color);
}

p {
    margin: 0;
    padding: 0;
}

.mt-100 {
    margin-top: 100px;
}

.features {
    font-family: var(--font-poppins);
    font-size: var(--text-size-16);
    font-weight: 400;
    line-height: var(--line-height-24);
    letter-spacing: 0em;
    text-align: left;
    color: var(--secondary-color);
}

.choice {
    font-family: var(--font-poppins);
    font-size: var(--text-size-20);
    font-weight: 500;
    line-height: var(--line-height-30);
    letter-spacing: 0em;
    text-align: left;
    margin-top: 15px;
    color: var(--tertiary-color);
}

.choice {
    padding: 15px 20px;
}

.choice:hover {
    border: 1px solid orangered;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}

.effect:hover::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: var(--primary-color);
    opacity: 0.8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: all 200ms linear;
}


.hover_text:hover {
    .hover-content {
        opacity: 1;
    }
}

.hover-content {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: all 300ms linear;
}

.hover-txt {
    font-family: var(--font-poppins);
    font-size: var(--text-size-25);
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.max-w-370 {
    max-width: 370px;
}

.about {
    font-family: var(--font-poppins);
    font-size: var(--text-size-12);
    font-weight: 300;
    line-height: var(--line-height-20);
    letter-spacing: 0em;
    text-align: left;
    color: var(--tertiary-color);
}

.slider-heading {
    font-family: var(--font-poppins);
    font-size: var(--text-size-20);
    font-weight: 500;
    line-height: var(--line-height-30);
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary-color);
}


.slick-slider {
    margin: 0 -5px;
    margin-top: 60px;
}


.slick-slide {
    padding: 10px;
    /* background-color: white; */
    text-align: center;
    margin-right: 15px;
    margin-left: 5px;
}

.slick-dots {
    opacity: 0;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.prev,
.next {
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: transparent;
}

.prev {
    left: -50px;
    top: 60%;
}

.next {
    right: -50px;
    top: 60%;
}

.next:hover,
.prev:hover {
    border: 1px solid var(--primary-color);
}

.prev:hover span svg path,
.next:hover span svg path {
    fill: var(--primary-color);
}

@media (max-width:992px) {
    .prev {
        top: 100%;
        left: 40%;
    }

    .next {
        top: 100%;
        left: 50%;
    }
}

.no {
    font-family: var(--font-poppins);
    font-size: var(--text-size-25);
    font-weight: 600;
    line-height: var(--line-height-37);
    letter-spacing: 0em;
    text-align: center;
    color: var(--primary-color);
}

.border-txt {
    text-align: center;
    font-family: var(--font-poppins);
    font-size: var(--text-size-12);
    font-weight: 300;
    line-height: var(--line-height-20);
    letter-spacing: 0em;
    color: #373737;
}

.max-height-90 {
    min-height: 90px;
}

.onhover:hover {
    transform: translate(-5px);
}

.num {
    font-family: var(--font-poppins);
    font-size: var(--text-size-40);
    font-weight: 600;
    line-height: var(--line-height-58);
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.card-txt {
    font-family: var(--font-poppins);
    font-size: var(--text-size-20);
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.bg-red {
    background-color: #FF5300;
}

@media (min-width:992px) {
    .border-right-1 {
        border-right: 2px solid white;
    }

    .border-right {
        border-right: 2px solid white;
    }
}

@media (min-width:576px) {
    .border-right {
        border-right: 2px solid white;
    }
}


@media (max-width:992px) {

    .bottom {
        border-bottom: 2px solid white;
    }
}

@media (max-width:576px) {
    .botm-1 {
        border-bottom: 2px solid white;
    }
}